# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# IntelliJ project files
.idea
*.iml
out
gen
target/*

# firebase secret
src/resources/config/firebase/service-account-key.json